<div>
	<label for="Name" class="form-group">Title</label>
	<input
		type="text"
		class="form-control"
		name="title"
		value="<%=book.title%>"
	/>
</div>
<div>
	<label for="author">Author</label>
	<select name="author" class="form-control" id="author">
		<%authors.forEach(author=>{%> <%if(author.id===book.author){%>
		<option selected label="<%=author.name%>" value="<%=author.id%>">
			<%}else{%>
		</option>

		<option label="<%=author.name%>" value="<%=author.id%>">
			<%}%> <%})%>
		</option>
	</select>
</div>
<div>
	<label for="publishDate">PublishDate</label>

	<input
		class="form-control"
		type="date"
		value="<%=book.publishDate ==null ? '' : book.publishDate.toISOString().split('T')[0]  %>"
		name="publishDate"
	/>
</div>
<div>
	<label for="pageCount">page Count</label>

	<input
		class="form-control"
		type="number"
		min="'1"
		value="<%=book.pageCount %>"
		name="publishDate"
	/>
</div>
<div>
	<label for="coverPage">cover Page</label>

	<input
		class="form-control"
		type="file"
	
		name="publishDate"
	/>
</div>
<div>
    <label for="pageCount">page Count</label>

    <input class="form-control" type="file" name="publishDate" />
</div>
